--ignore-workspace-root-check true
registry "https://registry.npmmirror.com"
sass_binary_site "https://registry.npmmirror.com/-/binary/node-sass"
chromedriver_cdnurl "https://registry.npmmirror.com/chromedriver"
canvas_binary_host_mirror "https://registry.npmmirror.com/-/binary/canvas"
canvas_binary_site "https://registry.npmmirror.com/-/binary/canvas"
geckodriver_cdnurl "https://repo.huaweicloud.com/geckodriver/"
puppeteer_download_host "https://registry.npmmirror.com/-/binary"